.navbar-left {
    height: 30px;
}
.menu {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 102, 255);
    margin: 2px 0;
  }

.no-border {
    border: none;
}
.nav>li>a {
    display: inline;
}

.border-blue {
    border: 1px solid rgb(0, 102, 255);
}

.container {
    padding-top: 20px;
}

.bg-immagine {
    background-image: url(img/bg-banner-home.jpg);
    background-size: contain;
}
h1 {
    font-size: 55px;
}

.white {
    color: white;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.bg-white {
    background-color: white;
}

h3 {
    font-weight: bold;
}

.blue {
    color: rgb(0, 102, 255);
}

.bg-blue-opacity {
    background-color: rgba(5, 84, 231, 0.7);
}
.opacity {
    opacity: 8;
}

.left {
    float: left;
}
.right {
    float: right;
}
.left-size {
    float: left;
    height: 20px;
    width: auto;
}
.left-size > img {
    height:20px;
}

.underlined {
    text-decoration: underline;
}
.fa-chevron-right {
    font-size: 30px;
    color: black;
}
.fa-chevron-left {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin2-top-5 {
    margin-top: -5px;
}
.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-40 {
    margin-left: 17px;
}

.margin-top-50 {
    margin-top: 50px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-130 {
    padding-top: 130px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.padding-bottom-50 {
    padding-bottom: 50px;
}
.padding-left-10 {
padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}
.gray {
    color: rgb(172, 165, 165);
    font-weight: bold;
}

.bg-gray {
background-color: rgb(241, 239, 239);
}
.height80 {
    height: 80px;
}

.larger {
    font-size: 17px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.no-pad {
    margin-right:0;
    margin-left:0;
  }

  .verticalLine {
    border-left: 1px solid rgb(172, 165, 165);
  }

.inline {
    display: inline-block;
}

.height30 {
height: 30px;
}

.height40 {
    height: 40px;
}

.block {
    display: block;
}
.inline {
    display: inline-block;
}
.height300 {
    height: 300px;
}

.verticalAlign {
    vertical-align: middle;
    font-size: 50px;
}

.verticalAlign2 {
    vertical-align: top;
}

.verticalAlign3 {
    vertical-align: middle;
}

@media all and (min-width: 1px) and (max-width:767px) {
    none {
        visibility: hidden;
        display: none;
    }
}

.li {
            list-style-type: circle;
            font-size: 20px;
}

.bg-blue {
    background-color: rgb(13, 42, 206);
}

hr {
    padding: 0px;
    margin: 0px; 
    margin-bottom: 5px;
}

.p-padding .container .col-md-6 > p {
    padding: 5px;
    margin: 5px;
}

.bg-white {
    background-color: white;
}

.padding1 {
    padding-top: 30px;
    padding-bottom: 30px
}

.bg-black {
    background-color: black;
}

footer > .container img {
    height: 40px;
}
 
.fixed {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 400px;
}
.squalo {
    width: 60px;
    background-color: rgb(0, 102, 255);
    }

    .triangle-right {
        width: 50;
        height: 10;
        border-top: 5px solid transparent;
        border-left: 10px solid white;
        border-bottom: 5px solid transparent;
      }
    .dot {
        height: 12px;
        width: 12px;
        background-color: white;
        border:1px solid rgb(0, 102, 255) ;
        border-radius: 50%;
        display: inline-block;
      }
      .dot:nth-child(1){
          background-color: rgb(0, 102, 255);
      }

      
      .padding5 {
          padding-right: 5px;
      }

      .padding-top-5 {
          padding-top: 5px;
      }

      .font25 {
          font-size: 25px;
      }

      .opacity {
          color: rgba(179, 170, 170, 0.815);
      }

      .padding-right-5 {
         padding-left: 15px;
      }

      .margin-left-10 {
            margin-left: -5px;
      }

      .padding2 {
          padding: 5px;
          padding-left: 5px;
          padding-right: 25px;
      }

      .black {
          color: black;
      }

      .cerchietto {
          background-color: red;
          width: 20px;
          border-radius: 50%;
          border: 3px solid white;
          position: fixed;
          bottom: 100px;
          right: 40px;
      }

      hr {
          padding-bottom: 3px;
      }

      @media(max-width:767px) {
          .height300 {
              padding-top: 100px;
          }
          .pallini1 {
              padding-top: 50px;
              padding-bottom: 50px;;
          }
          .seconda-parte {
              padding-top: 40px;
          }
          .height40 {
            margin-top: -30px;
          }
          .seconda-sezione {
            margin-top: 20px;
        }
      }
      @media (min-width:768px) and (max-width: 992px) {
      .marginms {
        margin-top: 50px;
    }

    h1 {
        font-size: 40px;
    }
    .seconda-sezione {
        margin-top: 20px;
    }
}